<!DOCTYPE html>
<html>

<head>
  <title>Wordlist</title>
  <link rel="stylesheet" type="text/css" href="style.css">
</head>

<body>
  <div id="app">
    <button class="startbutton" v-if="startVisible" v-on:click="start">Start</button>
    <button class="startbutton" v-if="restartVisible" v-on:click="restart">Restart</button>
    <p id="word" class="hcenter">{{ currentWord }}</p>
    <p class="hcenter buttonrow">
      <button class="nextbutton red" v-on:click="next(false)">Skip</button>
      <button class="nextbutton green" v-on:click="next(true)">Next</button>
    </p>

    <table class="hcenter">
      <tr>
        <th>Skipped</th>
        <th>Solved</th>
      </tr>
      <tr>
        <td>{{ skipped }}</td>
        <td>{{ solved }}</td>
      </tr>
    </table>
  </div>

  <script src="vue.js"></script>
  <script>

    function initWords() {
      var url = "words.txt";
      loadWords(url, parseWords);
    }

    function loadWords(url, callback) {
      fetch(url).then(function (response) {
        response.text().then(callback);
      });
    }

    function parseWords(text) {
      var lines = text.split('\n');
      var i = lines.length;
      while (i--) {
        vm.words.push({ text: lines[i] })
      }
    }

    const app = Vue.createApp({
      data() {
        return {
          startVisible: true,
          restartVisible: false,
          solved: 0,
          skipped: 0,
          currentWordIndex: 0,
          currentWord: 'Ready?',
          words: [],
          shuffled: []
        }
      },
      methods: {
        mousePos(event) {
          this.xPos = event.offsetX
          this.yPos = event.offsetY
        },
        start: function () {
          this.startVisible = false;
          this.restartVisible = true;
          this.resetWords();
          this.resetCount();
          this.nextWord();
        },
        restart: function () {
          this.resetCount();
          this.nextWord();
        },
        resetCount: function () {
          this.solved = 0;
          this.skipped = 0;
        },
        increaseCounter: function (solved) {
          if (solved) {
            this.solved++;
          }
          else {
            this.skipped++;
          }
        },
        resetWords: function () {
          this.shuffled = this.shuffle(this.words.slice(0));
          this.currentWordIndex = 0;
        },
        nextWord: function () {
          this.currentWord = this.shuffled[this.currentWordIndex].text;
          this.currentWordIndex++;
        },
        next: function (solved) {
          this.increaseCounter(solved);

          if (this.currentWordIndex >= this.shuffled.length) {
            this.resetWords();
          }

          this.nextWord();
        },
        // https://github.com/coolaj86/knuth-shuffle
        // Apache License 2.0
        shuffle: function (array) {
          var currentIndex = array.length, temporaryValue, randomIndex;

          // While there remain elements to shuffle...
          while (0 !== currentIndex) {

            // Pick a remaining element...
            randomIndex = Math.floor(Math.random() * currentIndex);
            currentIndex -= 1;

            // And swap it with the current element.
            temporaryValue = array[currentIndex];
            array[currentIndex] = array[randomIndex];
            array[randomIndex] = temporaryValue;
          }
          return array;
        }
      }
    },
    )
    var vm = app.mount('#app')
    initWords();

  </script>

</body>

</html>